// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #F4E4BA;
}

.m-5 {

  margin: 3rem!important;
  background-image: url("https://i.ytimg.com/vi/ifVEMkQ9BaY/maxresdefault.jpg");
  background-size: cover;
  height: 100px;
  color: white;
  padding: 20px;
}

.movie-img {
  background-size: contain;
}
.btn {
  border: 1px solid black;
}
